.waiting {
  cursor: wait;
}

.promptfield {
  width: 100%;
  height: 90px;
  margin: 3px;
  border-radius: 3px;
}

.goButton {
  width: 90px;
  margin: 3px;
  height: 45px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: large;
  background-color: green;
  color: white;
}

.responsefield {
  background-color: rgb(250, 250, 250);
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  min-height: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 400px) {
  .container {
    grid-template-columns: 1fr 100px;
  }
  .responsediv {
    grid-column: span 2;
  }
}
