<form [formGroup]="myForm">
  <!-- Form controls go here -->
  <div>
    <table>
      <tr>
        <td style="vertical-align: top">
          <textarea
            class="chat-container"
            matInput
            id="prompt"
            name="prompt"
            rows="3"
            cols="80"
            formControlName="prompt"
          ></textarea>
        </td>
        <td style="vertical-align: top">
          &nbsp;
          <button class="goButton" (click)="sendPrompt()">Go</button>
        </td>
      </tr>
    </table>
    <div class="response-container" [innerHTML]="agentResponse"></div>
  </div>
</form>
