<form [formGroup]="myForm">
  <!-- Form controls go here -->
  <div class="container">
    <div>
      <textarea
        [class.waiting]="wait"
        id="prompt"
        name="prompt"
        formControlName="prompt"
        [(ngModel)]="promptValue"
        class="promptfield"
        autocapitalize="none"
        (keyup.enter)="onEnterPressed()"
      ></textarea>
    </div>
    <div>
      <button (click)="sendPrompt()" [class.waiting]="wait" class="goButton">
        Go
      </button>

      <select
        id="llm"
        [(ngModel)]="selectedLLM"
        [ngModelOptions]="{ standalone: true }"
        class="llmSelector"
      >
        <option value="1" selected="true">jetai</option>
        <option value="2">powerspec</option>
        <option value="3">Mac</option>
      </select>

      <button (click)="clrPrompt()" [class.waiting]="wait" class="btnClear">
        Clear
      </button>
    </div>
    <div class="responsediv">
      <div [innerHTML]="agentResponse" class="responsefield"></div>
    </div>
  </div>
</form>
